
.container{
    .row{
        .table{
            .head-table-title{
                font-size: 2rem;
            }
        
            #my-products-in-car{
                th{
                    display: block;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 10rem;
                    padding: 1rem;
                
                    button{
                        font-size: 1rem;
                        text-align: center;
                        border-radius: 10rem;
                        background: transparent;
                        font-weight: bolder;
                        height: 2rem;
                        width: 2rem;
                    }
                    
                    button:hover{
                        background: red;
                    }
                }

                td{
                    font-size: 2rem;
                    padding: 2rem 0;

                    img{
                        justify-content: center;            
                    }

                    .my-quantity-input{
                        width: 7rem;
                        text-align: center;
                    }
                }

                
            }
        }
        .el-cupon{
            display: flex;
            justify-content: end;
            margin: 1rem 0;

            #cupon{
                width: 40rem;
                height: 3rem;
                font-size: 1.5rem;
                text-align: start;
            }
        }

        .form-check{
            display: flex;
            justify-content: end;
            margin: 1rem 0;

            div{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .form-check-input{
                    margin-right: 0.5rem;
                }
            }

           

            .form-check-label{
                font-size: 1.5rem;
            }
        }

        .boton-conteiner{
            display: flex;
            justify-content: center;

            #btn-comprar{
                flex-basis: 1rem;
                padding: 1rem 3rem;
                background-color: rgba(202, 62, 28, 0.795);
                font-size: 2rem;
                font-weight: bold;
                border-radius: 1rem;
            }
        }
       
      
    }
}