/* CAMBIO MONETARIO */ 
.currency-paragraph{
    margin: 2rem 0;
    font-size: 2rem;
}

#send {
    flex-basis: 1rem;
    padding: 1rem 3rem;
    background-color: rgba(202, 62, 28, 0.795);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
}

.my-send{
    margin: 3rem 0;
}

.shape, .shape1 {
    width: 4.5rem;;
    height: 4.5rem;
    border-style:hidden;
    border-radius: 5rem;
}

.shape{
    margin-right: 3rem;
}

.shape1 {
    margin: auto;
}

#sending-knut, #sending-sickle, #sending-galeon{
    width: 13rem;
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#sending-knut{
    border: double rgba(185, 105, 105, 0.835);
}

#sending-galeon{
    border: double rgba(255, 217, 0, 0.39);
}

#sending-sickle{
    border: double rgba(192, 192, 192, 0.74);
}


.galeon,  .galeon1 {
    background-color: gold;
    transition: 1s;
}

.sickle, .sickle1 {
    background-color: silver;
    transition: 1s;

}

.knut, .knut1 {
    background-color: rgb(92, 5, 5);
    transition: 1s;
}

.galeon:hover, .sickle:hover, .knut:hover {
    transform: scale(1.3);
    transition: all 1s;

    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

.results {
    // display: none;

    .galeon1, .knut1, .sickle1 {
        margin-bottom: 1rem;
    }

    div:hover .galeon1,
    div:hover .sickle1,
    div:hover .knut1 {
        transform: translateX(-13.5rem) translateY(6rem);
        -webkit-transform: translateX(-13.5rem) translateY(6rem);
        -o-transform: translateX(-13.5rem) translateY(6rem);
        -moz-transform: translateX(-13.5rem) translateY(6rem);
    }

}

@media only screen and (max-width: 425px) {
    .shape {
        margin: 0.5rem 2rem;
    }

    .galeon1, .sickle1, .knut1 {
        height: 1.5rem;
        border-radius: 1rem;
        margin: 2rem;
    }

    .results div:hover .galeon1,
    .results div:hover .sickle1,
    .results div:hover .knut1 {
        transform: none;
        animation: fill-content 1s;
    }
    
    @keyframes fill-content {
        0% {
            width: 4rem;
            height: 2rem;
        }

        100% {
            width: 12rem;
            height: 4rem;
        }
    }
}

#subtitle-results{
    padding-top: 2rem;
    font-family: 'titulo-negrita';
    font-size: 3rem;
}

.fondo{
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 20rem;
    margin: 2rem auto;
    background-image: url('../../image/bandera-argentina.webp');
    border-radius: 4rem;
    border: solid black;
    opacity: 0.5;
    
    

    .final-paragraph{
        font-size: 3rem;
        text-align: center;
        font-weight: bolder;
        opacity: 1;
    }
}



/* FIN CAMBIOMONETARIO */ 