/* DESCRIPTION */
@import '../basis.scss/extended'; 

.float{
	position:fixed;
	bottom:7rem;
	right:3rem;
    z-index:100;

    .my-float{
        margin-top:16px;

        img{
            border-radius: 10rem;
            transition: all 1s;
        }

        img:hover{
            transform: scale(1.2);
        }
    }
}

.description-conteiner {
    padding-top: 5rem;

    /* DESCRIPTION HTML */ 
    .col-description {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .col {

        h3{
            padding-top: 2rem;
            font-family: 'titulo-negrita';
            font-size: 3rem;
        }

        #my-price{
            font-size: 1.5rem;
        }

        form {

            #the-quantity{
                width: 4rem;
                height: 4rem;
                border: 0.1rem solid black;
                font-size: 1.5rem;
                text-align: center;
            }

            #btn-carrito{
                margin-left: 1.5rem;
                background-color:tomato;
                @extend %botones; 
            }
        }

        section {

            #btn-favoritos {
                display: block;
                margin: 1.5rem 0 1.5rem 2.3rem;
                background-color:tomato;
                @extend %botones; 

                @media only screen and (max-width: 375px){
                    margin: 1.5rem auto;
                }
            }
            
            #btn-comprar {
                display: block;
                margin: 1.5rem 0;
                background-color:tomato;
                @extend %botones;

                @media only screen and (max-width: 375px){
                    margin: 1.5rem auto;
                }
            }
        }
    }

    //cuando la pantalla sea my pequeña, todo al centro. 
    @media only screen and (max-width: 375px){
        .row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        
    }
}

.another-conteiner-description{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3{
        padding-top: 2rem;
        font-family: 'titulo-negrita';
        font-size: 3rem;
    }

    #btn-regrear{
        padding: 1rem 3rem;
        background-color: rgba(202, 62, 28, 0.795);
        font-size: 2rem;
        font-weight: bold;
        border-radius: 1rem;
    }

    p{
        font-size: 1.4rem;
        padding: 0 4rem;
    }
}


/* FIN DESCRIPTION HTML */ 